.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1111; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; 
  min-height: 60px;
}

.header-link, .header-nav a {
  text-decoration: none;
  color: white; /* Texte blanc */
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto; /* Centrer le lien si c'est le seul élément dans le header */
}

.header-nav a {
  font-size: 18px;
  margin-right: 20px;
}

.filter-button {
  background-color: #0e1111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}
